.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #212529;
  color: white;
}

.icon-and-text {
  display: flex;
  align-items: center;
}

.header-container span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.maximum-width {
  max-width: 35rem;
}